body {
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
  }

main section,
footer {
    margin-top: 2%;
}

#mobility a, #app a {
    color: white;
}

/* --------------------- */
/* START HEADER */
/* -------------------- */
/* start header top */
.header-top {
    height: 80px;
    line-height: 80px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul.navbar-menu li, ul.navbar-languages li{
    display: inline-block;
    padding-right: 10px;
}

ul.navbar-menu li a,
ul.navbar-languages li a {
    color: #343434;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.9rem;

}

header .header-top .img-logo{
    vertical-align: middle;
}

ul.navbar-languages a {
    border-right: 2px solid black;
    padding-right: 5px;
}
/* /end header-top */

/* start jumbotron layout */
.jumbotron{
    width: 100%;
    height: 480px;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .jumbo-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.jumbo-text h1 {
    font-size: 42px;
}

.jumbo-text p {
    margin: 10px 0;
    font-size: 1.3rem;
    font-weight: 300;
}
/* /end jumbotron */
/* -------------------- */
/* /END HEADER */
/* -------------------- */

/* -------------------------- */
/* START MAIN */
/* ------------------------- */
/* start products */
#products .row .row {
    line-height: 2;
}

#products .row .row [class*="col-"] {
    background-color: #fafafa;
}

#products a {
    color: blue;
    font-weight: 300;
    text-decoration: underline;
    font-size: 1.2rem;
}
/* /end section #products */

/* start section #how */
#how {
    margin-bottom: 10%;
}

.equal, .equal img{
    height: 500px;
    padding-top: 40px;
}


.equal .content-text-how{
    position: absolute;
    bottom: 5%;
    left: 0;
    font-size: 1.2rem;
}
.content-text-how a{
    color: black;

}

.equal .content-text-steps{
    position: absolute;
    bottom: 7%;
    left: 0;
    font-size: 1.5rem;

}

.fake-jumbo{
    height: 340px;
    width: 100%;
    background-image: url('../img/index-banner.1f6fd0a.jpg');
    background-size: cover;
}
/* /end section #how */

/* start section #mobility */
#mobility .container{
    background-image: url('../img/scooter.f0a0397.jpg');
    background-size: cover;
    height: 380px;
    width: 100%;
    color: white;
}

.text-mobility{
    text-align: center;
    margin: 10% 25%;
    height: 80%;
    width: 50%;
    font-size: 1.5rem;
    line-height: 1.6;
}

.text-mobility p{
    font-size: 1rem;
    font-weight: 300;
}
/* /end section #mobility */


/* ---------- */
/* #app LAYOUT */

#app .get-the-app{
    width: 98%;
    margin-right: 2%;
    background: linear-gradient(to top, #3f5367, #354554, #2d3a46);

}

#app .find-us{
    width: 98%;
    margin-left: 2%;
    background-image: url('../img/city.7c8c928.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#app .text-app{
    padding: 10%;
    height: 680px;
    font-size: 1.8rem;
    line-height: 1.6;
    width: 80%;
    margin: 0 10%;
    text-align: center;
    color: white;
}

#app .maps-iphone{
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    text-align: center;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/iphone-bg.2dae1bd.png');
}

#app a{
    font-size: 1.2rem;
}
/* ----------- */
/* / end app section */
/* ----------- */


/* ----------- */
/* start #family section */
/* ----------- */

#family .row {
    background-image: url('../img/family.bci.jpeg');
    background-size: cover;
    height: 400px;
    width: 100%;
}

.thanks{
    text-align: center;
    padding: 10%;
    background-color: white;
    height: 180px;
    width: 100%;
    margin: 17.5% 0;
    font-size: 1.5rem;
}

#family ul li {
    display: inline-block;
    line-height: 50%;
    font-size: 2.0rem;
    padding: 4%;
}

#family i#facebook{
    color: #1877f2;
}

#family i#instagram{
    color: white;
    border: 1px solid;
    border-radius: 5px;
    background: linear-gradient(to top left, #2479d3, #734cc9,  #f312ac, #ff2e3f, #f8d24b, #ff3a3a);
}
#family i#youtube {
    color: #ff0000;
}
#family i#twitter{
    color: #50abf1;
}

/* ---------------------- */
/* END MAIN */
/* ------------------------ */


/* ---------------------- */
/* START FOOTER*/
/* ------------------------ */
  footer{
    background-color: #000000;
    color: #fafafa;
    padding: 5%;
}
#info h4#big-logo{
    font-size: 1.5rem;
}

#info h4{
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 1%;
    font-weight: 600;
}
#info ul li{
    line-height: 2.6;
    font-size: 0.7rem;
}
#social{
    height: 40px;
    line-height: 40px;;
}
#social, #smartphone{
    margin-top: 2%;
}

#info{
    margin-bottom: 2%;
}

footer #social ul.social-menu-footer li{
    display: inline-block;
    padding-right: 6%;
    font-size: 1.3rem;
}

img.smart{
    border: 1px solid white;
    border-radius: 8px;
}
/* -------------------- */
/* /END FOOTER */
/* ---------------------- */

/* START MEDIA SCREEEN TABLET */
  @media screen and (max-width: 992px){
    .jumbotron h1 {
      font-size: 26px;
    }

    .equal img{
        height: 390px;
    }
    #how .equal{
        float: right;
    }
    #how h2{
        font-size: 1.2rem;
    }

    #mobility .container,
    #app .container {
        width: 90%;
    }
    
    .text-mobility{
        font-size: 1rem;
    }

    #app .text-app{
        font-size: 1.2rem;
        line-height: 1.6;
        height: 400px;
    }

    #app .maps-iphone{
        height: 40%;
    }



    ul.social-menu-footer{
        text-align: center;
    }
  }
/* ---------------------------- */
/* /END MEDIA SCREEN TABLET */
/* ----------------------------- */


/* ----------------------------- */
/* /START MEDIA SCREEN SMARTPHONE/ */
/* ------------------------------ */
  @media screen and (max-width:768px){
    #products .row .row [class*="col-"] {
        background:linear-gradient(to top,  beige, #afadab, #fafafa);
        border-radius: 5px;
        margin: 5% 25%;
        width: 50%;
    }
    #products .container .row .row {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    #products .container .row {
        margin: 0;
    }
   
    #how .equal, .equal img{
        height: 300px;
        width: 60%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #how .fake-jumbo {
        background-position: left;
        height: 300px;
        margin: 0 auto;
        width: 50%;
    }
    
    #mobility .container{
        background-position: 50% 100%;
    }
    #mobility .text-mobility a{
        font-size: 1.6rem;
    }
    #mobility .container{
        height: 300px;
        width: 50%;
    }
    #app .get-the-app {
       width: 100%;
    }
    
    #app .maps-iphone {
        position: absolute;
        top: 0;
        height: 100%;
    }
    .get-the-app, .find-us {
        height: 400px;
    }

    #family .row {
        height: 250px;
    }

    .small-text {
        padding: 1%;
        font-style: oblique;
        font-weight: bold;
        font-size: 0.9rem;
    }

    .play-store{
        width: 100%;
        text-align: center;
    }

}
/* ---------------------- */
/* /START MEDIA SCREEN SMARTPHONE/ */
/* ----------------------- */
